<header class='pageHeader'>
  <a href='/' class='button'>&larr; <%= t('themes.default.page_header.back_button', :default => 'Homepage') %></a>
  <p class='pageHeader__title'><%= site.title %></p>
</header>
